@{ 
    Layout = "~/Views/Shared/home_Layout.cshtml";
    ViewBag.Title = "Özellikler";
}

    <!-- Main Content -->
<main class="main-content">
    <!-- FEATURES -->
    <section class="section" id="features">
        <div class="container">
            <header class="section-header">
                <small>Özellikler</small>
                <h2>Mükemmel Uyum</h2>
                <hr>
                <p class="lead">Bütün bileşenler birbirine uyum içerisinde çalışır.</p>
            </header>

            <div class="row gap-y">
                <div class="col-md-8 mx-auto mb-7">
                    <img src="../Content/Home/assets/img/preview/feature-tablet.png" alt="..." data-aos="fade-up" data-aos-duration="2000">
                </div>

                <div class="w-100"></div>

                <div class="col-md-6 col-xl-4">
                    <div class="media">
                        <div class="lead-6 line-height-1 text-dark w-70px"><i class="icon-mobile"></i></div>
                        <div class="media-body">
                            <h5>Çoklu platform</h5>
                            <p>iRestaurant, tüm platformlarda uyumlu olarak çalışır.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-4">
                    <div class="media">
                        <div class="lead-6 line-height-1 text-primary w-70px"><i class="icon-gears"></i></div>
                        <div class="media-body">
                            <h5>Kişiselleştirilebilir</h5>
                            <p>Şubelerinizin her biri için ayrı ayrı ayarlar seçebiliriniz.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-4">
                    <div class="media">
                        <div class="lead-6 line-height-1 text-info w-70px"><i class="icon-tools"></i></div>
                        <div class="media-body">
                            <h5>Arayüz Kitleri</h5>
                            <p>Tabletlerinizi garson terminali veya masa terminali olarak ayarlayabilirsiniz.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-4">
                    <div class="media">
                        <div class="lead-6 line-height-1 text-warning w-70px"><i class="icon-layers"></i></div>
                        <div class="media-body">
                            <h5>Yetki Zinciri</h5>
                            <p>Siz yetkili personel / müdür ataması yaparken, yetkili personel ise yetkisiz personel ataması yapabilir.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-4">
                    <div class="media">
                        <div class="lead-6 line-height-1 text-danger w-70px"><i class="icon-recycle"></i></div>
                        <div class="media-body">
                            <h5>Çevreye Saygılı</h5>
                            <p>Eski adisyon kağıtlarını kullanmadan sipariş alabilirsiniz.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-4">
                    <div class="media">
                        <div class="lead-6 line-height-1 text-success w-70px"><i class="icon-chat"></i></div>
                        <div class="media-body">
                            <h5>Destek</h5>
                            <p>Bir lisans satın aldığınızda tüm güncellemeleri anında edinirsiniz.</p>
                        </div>
                    </div>
                </div>



            </div>
            <div id="morefeatures" class="row gap-y">
                <div class="w-100"></div>
                <div class="col-md-6 col-xl-4">
                    <div class="media">
                        <div class="lead-6 line-height-1 text-success w-70px"><i class="icon-printer"></i></div>
                        <div class="media-body">
                            <h5>Termal Yazıcı</h5>
                            <p>Siparişlerinizi mutfak ve personel, raporlarınızı kasa yazıcısından yazdırabilirsiniz.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="media">
                        <div class="lead-6 line-height-1 text-primary w-70px"><i class="icon-desktop"></i></div>
                        <div class="media-body">
                            <h5>Anlık Ekran</h5>
                            <p>Siparişlerinizi mutfak ekranında listeleyebilirsiniz.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="media">
                        <div class="lead-6 line-height-1 text-warning w-70px"><i class="icon-megaphone"></i></div>
                        <div class="media-body">
                            <h5>Duyuru Sistemi</h5>
                            <p>Duyuruları tabletlerde gösterebilirsiniz. DuyuruApi ile sitenizde yayınlayabiliriniz.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="media">
                        <div class="lead-6 line-height-1 text-info w-70px"><i class="icon-wallet"></i></div>
                        <div class="media-body">
                            <h5>Ciro Bilgi Sistemi</h5>
                            <p>Seçtiğiniz zaman aralıklarındaki kasa, stok, ciro girdilerini takip edebilirsiniz.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="media">
                        <div class="lead-6 line-height-1 text-danger w-70px"><i class="icon-lock"></i></div>
                        <div class="media-body">
                            <h5>Yüksek Güvenlik</h5>
                            <p>Tüm sistem 256-bit şifreleme ile korunmaktadır.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="media">
                        <div class="lead-6 line-height-1 text-dark w-70px"><i class="icon-hourglass"></i></div>
                        <div class="media-body">
                            <h5>Hızlı İşlem Kabiliyeti</h5>
                            <p>Yüksek performanslı sunucular ile tüm işlemler çok hızlı algoritmalarla icra edilir.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="media">
                        <div class="lead-6 line-height-1 text-warning w-70px"><i class="icon-piechart"></i></div>
                        <div class="media-body">
                            <h5>Optimum Sonuçlar</h5>
                            <p>Ürün satışlarının günlerce, ödemelerin ödeme türüne göre sonuçları grafik analizle sunulur.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="media">
                        <div class="lead-6 line-height-1 text-primary w-70px"><i class="icon-profile-male"></i></div>
                        <div class="media-body">
                            <h5>Personel Performansı</h5>
                            <p>Personellerinizin sipariş alma performansını da görebilirsiniz. (Yalnızca Şube Yönetiminde)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="media">
                        <div class="lead-6 line-height-1 text-success w-70px"><i class="icon-presentation "></i></div>
                        <div class="media-body">
                            <h5>Şubelerin Kıyaslanması</h5>
                            <p>Hangi şubenizin size kâr/zarar ettirdiğini görebilirsiniz.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gap-y">
                <div class="col-12 text-center">
                    <br><br>
                    <a class="btn btn-lg btn-primary" onclick="dahafazlaozellik(this)" href="#">Daha Fazla Özellik</a>
                </div>
            </div>

        </div>
    </section>
    <!-- /.FEATURES -->

    <script>

        document.getElementById('morefeatures').style.display = 'none';
        function dahafazlaozellik(item) {
            // hide the lorem ipsum text
            document.getElementById('morefeatures').style.display = 'flex';
            $(item).hide();
        }
    </script>

</main><!-- /.main-content -->
    <!-- Footer -->
    