@{
    Layout = null;
}
<!-- Header -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Login</title>
    <!-- Styles -->
    <link href="../Content/Home/assets/css/page.min.css" rel="stylesheet">
    <link href="../Content/Home/assets/css/style.css" rel="stylesheet">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="../Content/Home/assets/img/apple-touch-icon.png">
    <link rel="icon" href="../Content/Home/assets/img/favicon.png">
</head>
<body class="layout-centered bg-img" style="background-image: url(../Content/Home/assets/img/bg/4.jpg);">

    <!-- Main Content -->
    <main class="main-content">
        <div class="bg-white rounded shadow-7 w-400 mw-100 p-6">
            <h5 class="mb-7">Şirket hesabına giriş yap</h5>
            <form action="/Home/Login" method="post" enctype="application/x-www-form-urlencoded">
                <div class="form-group">
                    @ViewBag.message
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="sirketEmail" placeholder="Şirket Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="sirketParola" placeholder="Şirket Parola">
                    <input type="text" hidden="hidden" name="returnUrl" id="returnUrl" readonly="readonly" value="@if (Url.RequestContext.HttpContext.Request.Url.Query.ToString().Length==0){}else{<text>@Url.RequestContext.HttpContext.Request.Url.Query.Substring(11).Split('&')[0].ToString()</text>}" />
                </div>
                <div class="form-group flexbox py-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="hatirla" class="custom-control-input" checked>
                        <label class="custom-control-label">Beni Hatırla</label>
                    </div>
                    <a class="text-muted small-2" href="/Home/Recover">Şifreni mi unuttun?</a>
                </div>
                <div class="form-group">
                    <button class="btn btn-block btn-primary" type="submit">Giriş Yap</button>
                </div>
            </form>
            <div class="divider">Sosyal Medya Hesaplarımız</div>
            <div class="text-center">
                <a class="btn btn-circle btn-sm btn-facebook mr-2" href="http://www.facebook.com/SirusYazilim"><i class="fa fa-facebook"></i></a>
                <a class="btn btn-circle btn-sm btn-google mr-2" href="http://www.instagram.com/SirusYazilim"><i class="fa fa-instagram"></i></a>
                <a class="btn btn-circle btn-sm btn-twitter" href="http://www.twitter.com/SirusYazilim"><i class="fa fa-twitter"></i></a>
            </div>
            <hr class="w-30">
            <p class="text-center text-muted small-2">Henüz kayıt olmadın mı? <a href="/Home/Register">Buradan Kaydol</a></p>
        </div>
    </main><!-- /.main-content -->
    <!-- Scripts -->
    <script src="../Content/Home/assets/js/page.min.js"></script>
    <script src="../Content/Home/assets/js/script.js"></script>
</body>
</html>
